header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.btn {
  border-radius: 8px;
  cursor: pointer;
  font-size: 12px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  transition: all 0.3s ease;
}

.upgrade-btn {
  border: 1px solid rgba(228, 175, 91, 0.4);
  background-color: rgba(223, 79, 79, 0.1);
  color: #fff;
  height: 38px;
  width: 96px;
}

.upgrade-btn:hover {
  background-color: rgba(223, 79, 79, 0.4);
}

.icon-btn {
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 38px;
  width: 38px;
}

.icon-btn:hover {
  background-color: rgba(255, 255, 255, 0.4);
}
