.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 30px;
  color: white;
  margin: 0px 10px;
  margin: auto;
  width: 600px;
}

.left-container {
  display: flex;
  flex-direction: column;
  min-width: 380px;
}

.right-container {
  position: relative;
  display: block;
}

.instructions {
  margin: 10px 0px 30px 0px;
}

h1 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 6px;
  text-align: left;
}

p {
  font-size: 14px;
  font-weight: 100;
  color: rgba(255, 255, 255, 0.7);
  line-height: 1.4rem;
  text-align: left;
}

.dropdowns {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.dropdown-section {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex-grow: 1;
}

.dropdown {
  border: none;
  outline: none;
  min-width: 150px;
  height: 36px;
  border-radius: 5px;
  padding: 8px;
  background-color: rgba(114, 79, 223, 0.08);
  color: whitesmoke;
}

.gen-form {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

input {
  width: 90%;
  border-radius: 5px;
  outline: none;
  border: none;
  padding: 10px;
  background-color: rgba(114, 79, 223, 0.08);
  color: #f5f5f5;
  border: 0.5px solid #724fdf;
  transition: all 0.3s ease;
  height: 44px;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.7);
  opacity: 1;
}

input:hover,
input:focus {
  border: 0.5px solid #cf8bf6;
}

.btn {
  border-radius: 8px;
  cursor: pointer;
  font-size: 12px;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
  transition: all 0.3s ease;
}

.submit-btn {
  background: linear-gradient(130deg, #cf8bf6, #724fdf);
  color: #fff;
  border: none;
  height: 44px;
  width: 44px;
}

.submit-btn:hover {
  background: linear-gradient(150deg, #cf8bf6, #724fdf);
}

.download-btn {
  position: absolute;
  border: none;
  outline: none;
  width: 30px;
  bottom: 10px;
  right: 10px;
  background-color: #cf8bf6;
  padding: 4px;
}

.download-btn:hover {
  background-color: #724fdf;
}

#image-grid {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  gap: 10px;
  margin: 20px 0px;
  width: auto;
}

#image-grid img {
  max-width: 100%;
  max-height: 120px;
  border-radius: 10px;
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.3s ease;
}

#image-grid img:hover {
  border-color: #cf8bf6;
}

#enlarged-image {
  max-width: 500px;
  border-radius: 10px;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 245, 245, 0);
  width: 100px;
  height: 100px;
  border-radius: 10px;
}

.loader {
  border: 6px solid whitesmoke;
  border-top: 6px solid #cf8bf6;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 3s linear infinite;
}

.examples {
  display: flex;
  gap: 8px;
  margin-bottom: 24px;
}

.examples-options {
  display: flex;
  flex-direction: column;
}

.examples-options__styling{
  color: whitesmoke;
  font-weight: 200;
}

.gen-wrapper {
  background: rgb(73 69 82 / 0.3);
    border-radius: 10px;
    padding: 24px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
